@background: #222;
@center-background: #999;

@border-color: #666;
@border-size: 3px;

@border-color-c2: #555;
@border-size-c2: 2px;

@size: 250px;
@size-c2: 140px;
@size-center: 30px;

@t-wrap-1: 15s;
@t-wrap-2: 8s;

@t-ho-c1: 8s;
@t-ve-c1: 6s;

@t-ho-c2: 4s;
@t-ve-c2: 3s;

@t-el-c1-a: 3s;
@t-el-c1-b: 1s;
@t-el-c2-a: 2s;
@t-el-c2-b: 30s;

body{
    background: @background;
}

.container{
    position:relative;
    margin:auto;
    width: @size;
}

.wrap, .circle{
    -webkit-transition: -webkit-transform 500ms linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -moz-transform 500ms linear;
    -moz-transform-style: preserve-3d;
    width:@size;
    height:@size;
    margin:auto;
    margin-top:50px;
    position:absolute;
}

.circle{
    position:absolute;
    border:@border-size solid @border-color;
    border-radius: @size;
    margin:auto;
}
